*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

body{
	font-family: 'Muli', sans-serif;
}

h2{
	color: white;
	font-weight: 500;
}

p{
	color: white;
	font-weight: 400;
}
section{
	margin-top: 30px;
	width: 100%;
	height: 700px;
}

.contenedor{

	max-width:1050px;
	height: 400px;
	margin:0 auto;
	display: flex;
	overflow: hidden;
	pading: 0 5px;

}

.contenedor2{
	width: 2400px;
	display: flex;
	justify-content: space-evenly;
	transition: all 1s ease-in;

}


.activado{
	transform: translateX(-1047px);
}


.contenedor-imagen{
	padding: 5px;
	height: 400px;
	position: relative;
}

img{
	width: 339px;

}

.redes-sociales, .redes-sociales2{
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: black;
	width: 330px;
	height: 378px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform: scale(0);
	transition: all 300ms ease-in;
}

.mostrar{
	transform: scale(1);
}





.redes-sociales h2, p{
	color: white;
	margin-top: 15px;
}

.iconos{
	width: 90%;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.bx{
	margin:10px 10px;
	color: 	white;
}




.botones{
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.bx-rectangle{
	color:black;
	font-size: 30px;
	margin:2px;
	cursor: pointer;

}
